<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Machine</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Add Machine</h1>
        <form th:action="@{/machines}" th:object="${machine}" method="post">
            <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="text" class="form-control" id="capacity" th:field="*{capacity}" required>
                <label for="w_time">Washing Time:</label>
                <input type="text" class="form-control" id="w_time" th:field="*{w_time}" required>
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" th:field="*{price}" required>
            </div>
            <button type="submit" class="btn btn-success">Save Machine</button> <a class="btn btn-primary" th:href="@{/machines}">Back to Machine List</a>
        </form>
    </div>
</body>
</html>
