<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h2>Booking Details</h2>
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>Username:</strong> <span th:text="${reservation.username}"></span></p>
                <p class="card-text"><strong>Date(yyyy-MM-dd):</strong> <span th:text="${#dates.format(reservation.date, 'yyyy-MM-dd')}"></span></p>
                <p class="card-text"><strong>Time:</strong> <span th:utext="${reservation.time}"></span></p>
                <p class="card-text"><strong>Machine ID:</strong> <span th:text="${reservation.queue.machine.id}"></span></p>
                <p class="card-text"><strong>Capacity:</strong> <span th:text="${reservation.queue.machine.capacity}"></span></p>
                <p class="card-text"><strong>Washing Time:</strong> <span th:text="${reservation.queue.machine.w_time}"></span></p>
                <p class="card-text"><strong>Price:</strong> <span th:text="${reservation.queue.machine.price}"></span></p>
            </div>
        </div>
        <a class="btn btn-primary mt-3" href="/book">Back</a>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
