<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Booking</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
    <div class="container mt-5 container-form">
        <h1 class="text-center">Choose a machine to book</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Machine ID</th>
                    <th>Capacity</th>
                    <th>Washing Time</th>
                    <th>Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="machine : ${machines}">
                    <td th:text="${machine.id}">Machine ID</td>
                    <td th:text="${machine.capacity}">Machine Capacity</td>
                    <td th:text="${machine.w_time}">Washing Time</td>
                    <td th:text="${machine.price}">Price</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/book/machines/{id}(id=${machine.id})}">Book Now</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/book/machines/status}">view Status Board</a>
    </div>
</body>
</html>
