<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Queue List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Queue List</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Machine ID</th>
                    <th>Capacity</th>
                    <th>Washing Time</th>
                    <th>Price</th>
                    <th>Washing Status</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <!-- Use Thymeleaf to iterate over the queues and display them -->
                <tr th:each="queue : ${queues}">
                    <td th:text="${queue.username}">Username</td>
                    <td th:text="${queue.machine.id}">Machine ID</td>
                    <td th:text="${queue.machine.capacity}">Capacity</td>
                    <td th:text="${queue.machine.w_time}">Washing Time</td>
                    <td th:text="${queue.machine.price}">Price</td>
                    <td th:text="${queue.w_status}">Washing Status</td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/delete-queue/{id}(id=${queue.id})}">Cancel</a>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>

    <!-- Include Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
