<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <a class="btn btn-secondary mb-3" th:href="@{/machines/}">Back to Machine List</a>
        <h1>Add Queue Management</h1>
        <ul class="list-group">
            <!-- List existing queues -->
            <li th:each="queue : ${queues}" class="list-group-item">
                <span class="ml-3" th:text="${queue.username}"></span>
                <span class="ml-3" th:text="${queue.date}"></span>
            </li>
        </ul>
        <!-- Form for adding a new queue -->
        <form th:action="@{/machines/{id}/queues(id=${newqueue.machine.id})}" th:object="${newqueue}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" required>
                <label for="date">Time:</label>
                <input type="date" class="form-control" id="date" th:field="*{date}" required>
            </div>
            <button type="submit" class="btn btn-success">Confirm add queue</button>
        </form>
    </div>
</body>
</html>
