<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Washing Machine</title>
</head>
<body>

    <h2>Reserve Washing Machine</h2>

    <form th:action="/book/justwash/{washingMachineId}" th:object="${reservation}" method="post">
        <div class="form-group">
            <label for="Reserve_username">Username:</label>
            <input type="text" class="form-control" id="Reserve_username" th:field="*{Reserve_username}" required>
            
            <label for="Reserve_password">Password:</label>
            <input type="text" class="form-control" id="Reserve_password" th:field="*{Reserve_password}" required>
            
            <label for="Reserve_email">Email:</label>
            <input type="email" class="form-control" id="Reserve_email" th:field="*{Reserve_email}" required>
            
            
        </div>
        <button type="submit" class="btn btn-reserve">Reserve</button>
    </form>

    <a href="/book">Back to Reservations</a>

</body>
</html>
