<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make a Reservation</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h2>Make a Reservation</h2>
  <form th:action="@{/book/machines/{id}(id=${machine.id})}" th:object="${reservation}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" th:field="*{username}" required>
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" th:field="*{date}" required>
      <label for="timepicker">Time:</label>
      <input type="time" class="form-control" id="timepicker" name="timepicker">
    </div>
    <a class="btn btn-primary" th:href="@{/book}">Back</a> <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>

<!-- <form th:action="@{/machines/{id}/queues(id=${newqueue.machine.id})}" th:object="${newqueue}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" required>
                <label for="date">Time:</label>
                <input type="date" class="form-control" id="date" th:field="*{date}" required>
            </div>
            <button type="submit" class="btn btn-success">Confirm add queue</button>
        </form> -->